{{ ansible_managed | comment }}
{% if ports.gitea is defined %}
server {
    listen 443 ssl http2;
    server_name git.{{ server_domain }};
    access_log {{ nginx_sites_logs }}/access-git.{{ server_domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-git.{{ server_domain }}.log {{ nginx_error_log_options }};

    location / {
        proxy_pass https://gitea/;
    }
}
{% endif %}
