{{ ansible_managed | comment }}
{% if ports.gitea is defined %}
server {
    listen 80;
    listen [::]:80;
    server_name git.{{ server_domain }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name git.{{ server_domain }};
    access_log {{ nginx_sites_logs }}/gitea-access.log;
    error_log {{ nginx_sites_logs }}/gitea-error.log warn;

    location / {
        proxy_pass https://gitea/;
    }
}
{% endif %}