{{ ansible_managed | comment }}
{% if ports.vouch is defined %}
server {
    listen 443 ssl;
    server_name login.{{ server_domain }};

    access_log {{ nginx_sites_logs }}/access-login.{{ server_domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-login.{{ server_domain }}.log {{ nginx_error_log_options }};

    # Proxy to your Vouch instance
    location / {
        proxy_set_header  Host  login.{{ server_domain }};
        proxy_set_header  X-Forwarded-Proto https;
        proxy_pass        http://vouch;
    }
}
{% endif %}
