{{ ansible_managed | comment }}
# Redirect HTTP to HTTPS
server {
    listen 80;
    listen [::]:80;
    server_name git.{{ server_domain }}
                login.{{ server_domain }}
                *.{{ server_domain }};
    return 301 https://$host$request_uri;
}

# Redirect root domain to www
server {
    listen 80;
    listen [::]:80;
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ server_domain }};
    return 301 https://www.{{ server_domain }}$request_uri;
}

server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;
    server_name www.{{ server_domain }};
    root {{ web_root }}/main;
    index index.html index.php index.cgi;

    access_log {{ nginx_sites_logs }}/access-www.{{ server_domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-www.{{ server_domain }}.log {{ nginx_error_log_options }};

    location ~ \.php$ {
        include /etc/nginx/fastcgi_params;
        fastcgi_pass php-fpm;
        # fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location / {
        try_files $uri $uri/ $uri.html $uri.php$is_args$query_string;
    }

    # Disable hidden files
    location ~ /\. {
        deny all;
        return 403;
    }

    # Block private
    location /private {
        deny all;
        return 403;
    }

    location /pip {
        alias {{ pip_wheel_dir | default(web_root + '/pip') }};
        autoindex on;
    }

{% if ports.grafana is defined %}
    location /grafana/ {
        proxy_pass          http://grafana/;
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
    }
{% endif %}
}
