{{ ansible_managed | comment }}
server {
    listen 443 ssl http2;
    server_name dav.{{ server_domain }};
    location / {
        root /var/www/dav;

        dav_methods PUT DELETE MKCOL COPY MOVE;
        dav_ext_methods PROPFIND OPTIONS;

        # Adjust as desired:
        dav_access user:rw group:rw all:r;
        client_max_body_size 0;
        create_full_put_path on;
        client_body_temp_path /var/www/dav-temp;
        autoindex off;
    }
}
